In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_excel(r"C:\Users\LENOVO\OneDrive\Desktop\Student Data for Analysis (Mayospaz).xlsx")
df.head()

,Sr. No,Name,Technology,Admission Month,Source of Admission,Trainer,Placement Enrollment Month,Placed Month,Placement Co-ordinator
0,1,yash darekar,BA,2024-07-01 00:00:00,College Data,"Yogita , Swapnil",April'25,May'25,Rutuja Pawar
1,2,Snehal Sherikar,Python,NaN,NaN,Yogita,Ongoing,May'25,Asfiya
2,3,Vaibhav Sondkar,Java,2024-06-01 00:00:00,College Data,Umar,March'25,May'25,Asfiya
3,4,Bhawesh verma,Java,2024-12-01 00:00:00,Yogesh sir,Umar,Aug'25,May'25,Asfiya
4,5,Siddhi Tajane,Java,NaN,NaN,Aishwarya,May'25,May'25,Asfiya

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 298 entries, 0 to 297
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Sr. No                      298 non-null    int64
 1   Name                        298 non-null    object
 2   Technology                  274 non-null    object
 3   Admission Month             170 non-null    object
 4   Source of Admission         147 non-null    object
 5   Trainer                     192 non-null    object
 6   Placement Enrollment Month  298 non-null    object
 7   Placed Month                298 non-null    object
 8   Placement Co-ordinator      298 non-null    object
dtypes: int64(1), object(8)
memory usage: 21.1+ KB

In [4]:
df.fillna("NA", inplace=True)

In [5]:
df.head(20)

,Sr. No,Name,Technology,Admission Month,Source of Admission,Trainer,Placement Enrollment Month,Placed Month,Placement Co-ordinator
0,1,yash darekar,BA,2024-07-01 00:00:00,College Data,"Yogita , Swapnil",April'25,May'25,Rutuja Pawar
1,2,Snehal Sherikar,Python,NA,NA,Yogita,Ongoing,May'25,Asfiya
2,3,Vaibhav Sondkar,Java,2024-06-01 00:00:00,College Data,Umar,March'25,May'25,Asfiya
3,4,Bhawesh verma,Java,2024-12-01 00:00:00,Yogesh sir,Umar,Aug'25,May'25,Asfiya
4,5,Siddhi Tajane,Java,NA,NA,Aishwarya,May'25,May'25,Asfiya
5,6,Madle Roshan Nagnath,Python,2024-09-01 00:00:00,Yogesh sir,Azad,May'25,May'25,Rutuja Kakade
6,7,VAIBHAV HARANE,Java,2025-01-01 00:00:00,NA,Umar,Ongoing,May'25,Rutuja Kakade
7,8,Anuj Benke,Java,2025-04-01 00:00:00,Reference,NA,Direct Placement,May'25,Rutuja Kakade
8,9,Vijaya shinde,Java,NA,NA,Umar,Ongoing,May'25,Asfiya
9,10,Akshada Avinash Bobade,Flutter,2024-08-01 00:00:00,Reference,Azad,April'25,May'25,Sayali
10,11,Amit Ashok Patil,BA,2024-05-01 00:00:00,Reference,"Swapnil , Priya",Feb'25,May'25,Asfiya
11,12,Aditya Rajesh Gawade,Python,NA,NA,Azad,April'25,May'25,Chinmay/Vrushali
12,13,Mayur Gholap,Python,2024-07-01 00:00:00,Reference,Azad,May'25,May'25,Chinmay
13,14,Arsheen shaikh,Python,2024-08-01 00:00:00,Reference,"Yogita, Azad",May'25,May'25,Chinmay
14,15,Shubham Shrirao,Java,2025-06-22 00:00:00,Yogesh sir,Avdhut,Ongoing,May'25,Asfiya
15,16,Aniket Ramesh Kadam,Java,2024-07-01 00:00:00,Reference,Umar,Ongoing,May'25,Asfiya
16,17,RITU RATHOD,HR,NA,NA,Azad,Ongoing,May'25,Rutuja Pawar
17,18,Pooja Anilkumar Tawri,Java,2024-05-01 00:00:00,Mahesh sir,Umar,March'25,May'25,Krishna
18,19,Kishor Vishnu Tiruke,BA,NA,NA,"Swapnil , Piyush",April'25,May'25,Asfiya
19,20,Gaurav Govind Male,React,2024-08-01 00:00:00,Gaurav sir,Azad,Ongoing,May'25,Vrushali

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 298 entries, 0 to 297
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Sr. No                      298 non-null    int64
 1   Name                        298 non-null    object
 2   Technology                  298 non-null    object
 3   Admission Month             298 non-null    object
 4   Source of Admission         298 non-null    object
 5   Trainer                     298 non-null    object
 6   Placement Enrollment Month  298 non-null    object
 7   Placed Month                298 non-null    object
 8   Placement Co-ordinator      298 non-null    object
dtypes: int64(1), object(8)
memory usage: 21.1+ KB

In [11]:

# Count values that are either NaN or text "NA"
na_count = df['Admission Month'].isna().sum() + (df['Admission Month'].str.upper() == "NA").sum()

print("NA values in Admission Month column:", na_count)

NA values in Admission Month column: 128

In [14]:
print("Unique Admission Month values:")
print(df['Admission Month'].unique()[:50])   # show first 50 unique values

print("\nUnique Placed Month values:")
print(df['Placed Month'].unique()[:50])      # show first 50 unique values

Unique Admission Month values:
[datetime.datetime(2024, 7, 1, 0, 0) 'NA'
 datetime.datetime(2024, 6, 1, 0, 0) datetime.datetime(2024, 12, 1, 0, 0)
 datetime.datetime(2024, 9, 1, 0, 0) datetime.datetime(2025, 1, 1, 0, 0)
 datetime.datetime(2025, 4, 1, 0, 0) datetime.datetime(2024, 8, 1, 0, 0)
 datetime.datetime(2024, 5, 1, 0, 0) datetime.datetime(2025, 6, 22, 0, 0)
 datetime.datetime(2024, 3, 1, 0, 0) 'AUGUST'
 datetime.datetime(2024, 4, 1, 0, 0) datetime.datetime(2024, 11, 1, 0, 0)
 datetime.datetime(2025, 3, 1, 0, 0) datetime.datetime(2024, 10, 1, 0, 0)
 datetime.datetime(2023, 8, 1, 0, 0) datetime.datetime(2024, 2, 1, 0, 0)
 datetime.datetime(2022, 9, 1, 0, 0) datetime.datetime(2022, 7, 1, 0, 0)
 datetime.datetime(2024, 1, 1, 0, 0) datetime.datetime(2025, 5, 1, 0, 0)
 datetime.datetime(2025, 2, 1, 0, 0) datetime.datetime(2023, 12, 1, 0, 0)
 datetime.datetime(2023, 1, 1, 0, 0) datetime.datetime(2024, 12, 2, 0, 0)
 'OCTOMBER 2024 ' datetime.datetime(2022, 11, 1, 0, 0)
 datetime.datetime(2025, 11, 1, 0, 0) datetime.datetime(2024, 8, 2, 0, 0)
 datetime.datetime(2025, 10, 1, 0, 0)]

Unique Placed Month values:
["May'25" "Jun'25" "June'25" "July'25" "Aug'25" "Sept'25" "Oct'25"]

In [15]:
# --- Admission Month Cleaning ---
def clean_admission(val):
    if pd.isna(val): 
        return pd.NaT
    if isinstance(val, pd.Timestamp):   # already a datetime
        return val
    val_str = str(val).strip().upper()
    if val_str in ["NA", "N/A", "ONGOING", ""]:
        return pd.NaT
    try:
        # Try parsing text like "AUGUST", "OCTOMBER 2024"
        return pd.to_datetime(val_str, errors='coerce')
    except:
        return pd.NaT

df['AdmissionMonthDate'] = df['Admission Month'].apply(clean_admission)

# --- Placed Month Cleaning ---
def clean_placed(val):
    if pd.isna(val): 
        return pd.NaT
    val_str = str(val).strip()
    try:
        # Handle formats like "May'25", "Jun'25", "Sept'25"
        return pd.to_datetime(val_str, format="%b'%y", errors='coerce')
    except:
        # Try full month names like "June'25"
        return pd.to_datetime(val_str, format="%B'%y", errors='coerce')

df['PlacedMonthDate'] = df['Placed Month'].apply(clean_placed)

# --- Calculate Placement Duration ---
df['PlacementDurationMonths'] = (df['PlacedMonthDate'] - df['AdmissionMonthDate']).dt.days / 30

# --- Flag Placements within 6 months ---
df['PlacedWithin6Months'] = df['PlacementDurationMonths'] <= 6

# --- Summary ---
total_students = len(df)
placed_students = df['PlacedMonthDate'].notna().sum()
ongoing_students = df['PlacedMonthDate'].isna().sum()
placed_within_6 = df['PlacedWithin6Months'].sum()
percent_within_6 = (placed_within_6 / placed_students * 100) if placed_students > 0 else 0

print("Total Students:", total_students)
print("Placed Students:", placed_students)
print("Ongoing Students:", ongoing_students)
print("Placed within 6 months:", placed_within_6)
print("Percentage placed within 6 months:", round(percent_within_6, 2), "%")

Total Students: 298
Placed Students: 174
Ongoing Students: 124
Placed within 6 months: 10
Percentage placed within 6 months: 5.75 %